%shadow {
  box-shadow: 0px 2px 6px rgba(0,0,0, 0.2);
}

%shadow_light {
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.15);
}

%borderRadius {
  border-radius: 5px;
}

%borderRadius_light {
  border-radius: 2px;
}
