@charset 'utf-8';

// @import '../main';

Header {
  // Parms
  // $DEFAULT_LOGO_SIZE: 30px;
  // $MIN_HEIGHT: #{$BUTTON_MIN_SIZE + ($DEFAULT_PADDING_SIZE * 2)};
  $BAR_HEIGHT: 44px;

  @include flex($align-items: center);
  @include dimen(100%, $BAR_HEIGHT);
  border-bottom: 1px solid theme-color(grey08);
  flex: 0 0 $BAR_HEIGHT;
  padding: 0 8px;
  
  .leftMenu {
      @include fixed($top: 0, $bottom: 0, $left: 100%);
      min-width: 10%;
      max-width: 30%;
  }
  
  .rightMenu {
      @include fixed($top: 0, $bottom: 0, $right: 100%);
      min-width: 10%;
      max-width: 30%;
  }
}