@charset 'utf-8';

// ~ Common Functions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin transition($property: all, $duration: $defaultDuration, $timing: $defaultTiming, $delay: 0) {
  transition: $property $duration $timing $delay;
}

@mixin transitionMulti($duration: $defaultDuration, $timing: $defaultTiming, $property...) {
  @each $p in $property {
    @include transition($p, $duration, $timing);
  }
}

@mixin animate($property: null, $speedKey: default, $timing: $defaultTiming) {
  transition-duration         : map-get($map: $ANIMATION_SPEED, $key: $speedKey);
  transition-timing-function  : $timing;
  @if ($property) {
    transition-property       : $property;
    will-change               : $property;
  }
}